<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <title>Flexbox Project</title>
  </head>
  <body>
    <h1 class="title">Subscription Plans</h1>
    <div class="container">
        <div class="offers">
            <h2>For 6 Months</h2>
            <h3 class="price">Rs 1299</h3>
            <small>Annually</small>
            <p>Basic technical support</p>
            <p>Basic access to analytics</p>
            <a RouterLink href="payement"> <button>Subscribe</button></a>
        </div>
        <div class="offers">
            <h2>For 1 Year</h2>
            <small class="small-colored">Best offer!</small>
            <h3 class="price"> Rs 2049</h3>
            <small>Annually</small>
            <p>14/7 Support</p>
            <p>Limited analytics</p>
            <a RouterLink href="payement"> <button>Subscribe</button></a>
        </div>
        <div class="offers">
            <h2>For 2 Years</h2>
            <h3 class="price">Rs 4099</h3>
            <small>Annually</small>
            <p>24/7 Support</p>
            <p>Full Access to analytics</p>
           <a RouterLink href="payement"> <button>Subscribe</button></a>
        </div>
    </div>
  </body>
  